# /etc/systemd/system/weechat.service

[Unit]
Description=plomlombot screen

[Service]
Type=forking
User=plom
ExecStart=/bin/sh -c 'screen -d -m ~/config/bin/plomlombot.sh'

[Install]
WantedBy=multi-user.target
