# /etc/systemd/system/weechat.service

[Unit]
Description=weechat screen

[Service]
Type=forking
User=plom
ExecStart=/bin/sh -c 'LC_ALL=en_US.UTF8 screen -d -m ~/config/bin/weechat-wrapper.sh'

[Install]
WantedBy=multi-user.target
