# /etc/systemd/system/weechat.service

[Unit]
Description=tmux weechat

[Service]
Type=forking
User=plom
ExecStart=/usr/bin/tmux new-session -d '~/config/bin/weechat-wrapper.sh'

[Install]
WantedBy=multi-user.target
