[Unit]
Description=Run plom's fetchmail

[Service]
Type=oneshot
User=plom
# fetchmail returns 1 when no new mail, we want to catch that
ExecStart=/bin/sh -c 'fetchmail || [ $? -eq 1 ]'
