! otherwise various applications will assume merely 8 colors
XTerm.termName: xterm-256color

! font
! actually, "mono" is already the default for faceName (it will
! pick whatever fc-match mono delivers), but we need to set _some_
! faceName to trigger XTerm activating TrueType fonts
! (XTerm*fontRender by itself won't do the trick), and we want
! TrueType fonts because, well, they scale better, and XTerm lets them
! fall back on alternatives (hi there ttf-unifont) when a Unicode
! glyph is not found
XTerm*faceName: mono

! white on black
XTerm*reverseVideo: on

! blink screen instead of sound
XTerm*visualBell: on

! proper ALT as META key treatment
XTerm*eightBitInput: false

! font sizes
XTerm*faceSize: 8
XTerm*faceSize1: 4
XTerm*faceSize2: 5
XTerm*faceSize3: 6
XTerm*faceSize4: 8
XTerm*faceSize5: 14
XTerm*faceSize6: 25

! colors
! black
XTerm*color0: #202020
XTerm*color8: #3F3F3F
! red
XTerm*color1: #A82020
XTerm*color9: #E82020
! green
XTerm*color2: #20A820
XTerm*color10: #20E820
! yellow
XTerm*color3: #A8A820
XTerm*color11: #E8E820
! blue
XTerm*color4: #3F3FFF
XTerm*color12: #9F9FFF
! magenta
XTerm*color5: #A83FFF
XTerm*color13: #E89FFF
! cyan
XTerm*color6: #3FA8FF
XTerm*color14: #9FE8FF
! white
XTerm*color7: #A8A8A8
XTerm*color15: #E8E8E8
