! otherwise various applications will assume merely 8 colors
XTerm.termName: xterm-256color

! font
! actually, "mono" is already the default for faceName (it will
! pick whatever fc-match mono delivers), but we need to set _some_
! faceName to trigger XTerm activating TrueType fonts
! (XTerm*fontRender by itself won't do the trick), and we want
! TrueType fonts because, well, they scale better, and XTerm lets them
! fall back on alternatives (hi there ttf-unifont) when a Unicode
! glyph is not found
XTerm*faceName: mono
XTerm*faceSize: 8

! white on black
XTerm*reverseVideo: on

! blink screen instead of sound
XTerm*visualBell: on

! proper ALT as META key treatment
XTerm*eightBitInput: false
