[Unit]
Description=plomlombot screen

[Service]
Type=forking
User=plom
ExecStart=/bin/sh -c 'screen -d -m -S plomlombot ~/start_plomlombot.sh plomlombob "#plomlompomtest"'

[Install]
WantedBy=multi-user.target
