[Unit]
Description=plomlombot screen

[Service]
Type=forking
User=plom
ExecStart=/bin/sh -c '~/start_plomlombot.sh'
Restart=always

[Install]
WantedBy=multi-user.target
