[Unit]
Description=plomlombot screen

[Service]
Type=simple
User=plom
ExecStart=/bin/sh -c '~/plomlombot_daemon.sh'
Restart=always

[Install]
WantedBy=multi-user.target
